<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>

    <img src="https://img.freepik.com/free-vector/technical-support-customer-service-staff-work_82574-6002.jpg?w=740" class="overlap">
		<div align="center">
		<div align="center" class="border_login">
            {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
			<h1 class="word">VISITOR TRACKING SYSTEM</h1>
			<p class="word">Application</p>
			<div class="header">
				<h1 class="word">Login</h1>
			</div>
			<h2 class="word">
				<form action="/signin" method="post" class="mb-2">
                    {% csrf_token %}
					<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" Required/></br></br>
					<input id="pass1" name="pass1" type="password" placeholder="Enter Your Password" class="textbox" Required/></br></br></br>
					<input type="submit" class="btn" value="SIGN IN"></br></br>
				</form>
			</h2>
			<p class="bottom">Dont't have an account? <a class="bottom" href="\signup"> Sign up here</a></p>
		</div>
		</div>
</body>
</html>